* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Work Sans;
}
main {
  max-width: 1140px;
  margin: auto;
}
.btn-primary {
  color: #005fac;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
}

/* Header styles */
header {
  background: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100vh;
}
.header-content {
  padding-right: 230px;
  width: 50%;
}
.header-heading {
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
}
.header-text {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0;
}
.header-btn {
  text-align: right;
}
/* previous year failure section  */

.previous-year-failure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 134px;
}

.failure-heading {
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.failure-description,
.failures {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.img-box img {
  width: 450px;
  z-index: 10;
  position: relative;
}
.img-box {
  position: relative;
}
.img-box::after {
  content: "";
  position: absolute;
  top: 27%;
  left: -15%;
  width: 527px;
  height: 527px;
  border-radius: 50%;
  background: rgba(204, 204, 204, 0.2);
}

.failure-description {
  margin: 16px 0 24px 0;
}
.failures {
  margin-bottom: 8px;
  background: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position-x: 2px;
  padding-left: 35px;
}
.previous-year-failure ul {
  list-style: none;
}

/* Plans section styles */
.plans {
  margin: 135px 0;
}
.plans-heading {
  color: #151414;
  text-align: center;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 50px;
}

.all-plans {
  display: flex;
  justify-content: space-between;
}
.single-plan {
  text-align: center;
}
.plan-title {
  margin: 18px 0;
  color: #151414;
  text-align: center;
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.plan-text {
  color: #737272;
  text-align: center;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}

/* Banner section styles */

.banner-section {
  padding: 60px 65px;
  /* This is cool and awesome man. I have added a liner-gradient effect layer on a banner image */
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/Banner.png);

  background-size: cover;
  border-radius: 8px;
  margin-bottom: 130px;
}

.banner-heading {
  color: #fff;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
  width: 45%;
}
